<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="kanoa.css">
</head>
<section id="authentification">
<body style="background:#0D131C;">
    <h1 style="color:white">   BIENVENUE ️💙🎉  </h1>
    <br>
    <form action="">
        <div id="Email">
        <input type="email" placeholder="Email" name="Email" id="Email"></div>
        <div class="correction">
        <div class="center-container">
        <div id="Prenom">
        <input type="text" placeholder="Prenom" name="Prenom" id="Prenom"></div>
        <div id="Nom">
        <input type="text" placeholder="Nom" name="Nom" id="Nom"></div>
        </div>
    </div>
    
    <div id="Naissance">
        <input type="text"  name="Naissance" id="Naissance" name="Naissance" placeholder="Date de naissance">
    </div>
    <div id="Passeword">
        <input type="password"  name="Passeword" id="Passeword" name="Passeword" placeholder="Mot de passe">
    </div>
    <div id="ConfPass">
        <input type="password"  name="ConfPass" id="ConfPass" name="ConfPass" placeholder="Confirmer le mot de passe">
        
    </div>
    <div id="check">
        <span id="ecriture"><input type="checkbox"><span style="color:rgba(0,0,0,0)">.</span> j'accepte la <a href="#" style="color:#0063FF">politique de confidentialité</a></span>
    </div>
    <div id="Submit">
        <input type="submit"  name="Submit" id="Submit" name="Submit" Value="VALIDER">
    </div>
    <div id="check2">
        <span id="ecriture"> <span style="color:rgba(0,0,0,0)">......</span> you already have a account. <a href="#" style="color:#0063FF">Login</a></span>
    </div>
    
        
    </div>
    
    
            
   
    </form>
    </div>
    </form>

</section>
</body>
</html>