*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#authentification input[name="Email"]
{
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: 'Open Sans';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 300px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
color:white;
background: #1A2535;
border:none;
margin-left:25px;
padding:10px;
}
#Email2
{
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: 'Open Sans';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 350px;
height: 60px;
flex-shrink: 0;
border-radius: 4px;
color:white;
background: #1A2535;
border:none;
margin:auto;
}
input::placeholder 
{
    color: white;
    opacity: 1;
}
#authentification input[name="password"]
{
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: 'Open Sans';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 270px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
color:white;
background: #1A2535;
border:none;
margin-left:25px;
padding:10px;
float:left;
}
#authentification input[name="passwordText"]
{
display: inline;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: 'Open Sans';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 270px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
color:white;
background: #1A2535;
border:none;
margin-left:25px;
padding:10px;
float:left;
}
#passwordText2
{
display: none;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: 'Open Sans';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 350px;
height: 60px;
flex-shrink: 0;
border-radius: 4px;
color:white;
background: #1A2535;
border:none;
margin: 7px auto;
}
#password2
{
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: 'Open Sans';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 350px;
height: 60px;
flex-shrink: 0;
border-radius: 4px;
color:white;
background: #1A2535;
border:none;
margin: 7px auto;
}
#authentification input[type="checkbox"]
{
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: 'Open Sans';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 20px;
height: 20px;
flex-shrink: 0;
border-radius: 4px;
color:white;
background: #1A2535;
border:none;
padding:10px;
float:left;
}
#check
{
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: 'Open Sans';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 400px;
height: 60px;
flex-shrink: 0;
border-radius: 4px;
color:white;
border:none;
margin: 7px auto;
padding:10px;
}
#ecriture
{
color: #889CBD;
font-family: 'Open Sans';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#authentification input[type="checkbox"]
{
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: 'Open Sans';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 20px;
height: 20px;
flex-shrink: 0;
border-radius: 4px;
color:white;
background: #1A2535;
border:none;
padding:10px;
float:left;
}
#authentification input[name="Submit2"]
{
display: flex;
font-weight: 400;
line-height: normal;
flex-shrink: 0;
border-radius: 4px;
background: #0063FF;
border:none;
margin-left:25px;
padding:10px;
display: flex;
width: 330px;
height: 70px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: 'Open Sans';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align:center;
padding-left:110px;
cursor:pointer;
margin:auto
}
#Submit2
{
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: 'Open Sans';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
flex-shrink: 0;
color:white;
border-radius: 4px;
background: #0063FF;
border:none;
margin: 7px auto;
width: 330px;
height: 70px;
flex-shrink: 0;
}
#authentification input[name="Submit2"]:hover
{
background-color: rgb(182, 16, 173);
color:rgb(0, 0, 0);
}
#authentification input[name="a"]:hover
{
background-color: rgb(182, 16, 173);
color:rgb(0, 0, 0);
}
#check2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-family: 'Open Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 450px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 4px;
    color:white;
    border:none;
    margin: 7px auto;
    padding:10px; 
}
a{
    text-decoration:none;
}
#togglePassword
{
display:inline;
width: 25px;
height: 18px;
flex-shrink: 0;
background: no-repeat;
margin-left: 15px;
margin-top: 10px;
cursor:pointer;
border:none;
background:none;
}

#togglePassword2{
display:inline;
width: 25px;
height: 18px;
flex-shrink: 0;
background: no-repeat;
margin-left: 15px;
margin-top: 10px;
cursor:pointer;
border:none;
background:none;
}

a{
    text-decoration:none;
}
#logo
{
    display: flex;
    width: 280px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    line-height: normal;
    margin: 40px auto;
}
#blanc
{
    display: flex;
    width: 280px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    line-height: normal;
    margin: 40px auto;
}
#a
{
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: 'Open Sans';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
flex-shrink: 0;
color:white;
border-radius: 4px;
background: #0063FF;
border:none;
margin: 7px auto;
width: 330px;
height: 70px;
flex-shrink: 0;
}
#authentification input[name="a"]
{
display: flex;
font-weight: 400;
line-height: normal;
flex-shrink: 0;
border-radius: 4px;
background: #0063FF;
border:none;
margin-left:25px;
padding:10px;
display: flex;
width: 330px;
height: 70px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: 'Open Sans';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align:center;
padding-left:110px;
cursor:pointer;
margin:auto;
padding-top: 20px;

}